[Unit]
Description=Xray Route Service
After=sys-subsystem-net-devices-xray0.device
BindsTo=sys-subsystem-net-devices-xray0.device

[Service]
Type=oneshot
ExecStart=/usr/bin/ip route replace default dev xray0
ExecStart=/usr/bin/ip -6 route replace default dev xray0

[Install]
WantedBy=sys-subsystem-net-devices-xray0.device
